<head>
    <title>Memory Gallery</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Are+You+Serious&display=swap" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/gsap.min.js"></script>
    <script src="cursor.js"></script>

</head>

<body>
    <div class="bg-container">
        <%- include('nav2.ejs') %>
            <div class="cursor"></div>

            <img src="../img/bg.png" class=" bg-img" />
            <img src="../img/block.png" class=" block1" />
            <div class="about-container">
                <h1 class="about">About</h1>
                <p class="about-text">Welcome to the “Memory Gallery,” nestled in the cozy confines of an antique store.
                    This gallery is not only a place for storing unused, old, or used items, but also a sanctuary for
                    memories. Imagine our gallery as a vast expanse, illuminated by tiny light balls that dance and
                    shimmer in the environment. Each light ball represents a memory post, waiting to be discovered and
                    relived. By clicking on these luminous orbs, users can delve into their memories, transported to
                    moments of joy, nostalgia, and reflection.

                    In this unique space, memories are living entities represented by moving “light balls” in the
                    environment. Each bulb serves as a vessel for cherished moments in your personal history. A “light
                    balls” is created upon submitting your very own memory after clicking on the post icon located at
                    the upper right corner. You can access your posted memory by pressing the corresponding memory
                    balls.

                    Join us in this journey through the corridors of time, where every click unlocks a new chapter in
                    the story of your life. Welcome to our Memory Gallery, where the past comes alive in a symphony of
                    light and reminiscence.</p>
            </div>


    </div>
</body>