<head>
    <link rel = "stylesheet" href = "style.css">
</head>

<body>
    <ul class = "nav">
        <li class = "nav"><a href = "mailto:jl13999@nyu.edu">contact</a></li>
        <li class = "nav"><a href = "/about">about</a></li>
        <li class = "nav"><a href = "/login">login</a></li>
    </ul>
</body>
