<head>
    <link rel = "stylesheet" href = "style.css">
</head>

<body>
    <ul class = "nav2">
        <li class = "nav2" id = "post-icon"><img src="../icon/edit.png"  class = "nav2 icon" ></li>
        <!-- <li class = "nav2"><a href = "mailto:jl13999@nyu.edu">contact</a></li> -->
        <li class = "nav2" id = "about">about</li>
        <li class = "nav2"><a href = "/">logout</a></li>
    </ul>
</body>