<head>
    <title>Memory Gallery</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Are+You+Serious&display=swap" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/gsap.min.js"></script>
    <script src="app.js"></script>
</head>

<body>
    <div class="bg-container">
        <%- include('nav1.ejs') %>

        <img src="../img/bg.png" data-speedx="0.2" data-speedy="0.19" data-distsance="-200" class="parallax bg-img" />
        <img src="../img/block.png" data-speedx="0.125" data-speedy="0.19" data-distsance="100" class="parallax block1" />
        <img src="../img/light.png" class="light" />
        <img src="../img/dust1.png" data-speedx="0.15" data-speedy="0.14" data-distsance="400" class="parallax dust1" />
        <img src="../img/layer3.png" data-speedx="0.095" data-speedy="0.09" data-distsance="700"
            class="parallax layer3" />
        <img src="../img/block.png" data-speedx="0.095" data-speedy="0.09" data-distsance="1000"
            class="parallax block2" />
        <img src="../img/layer2.png" data-speedx="0.081" data-speedy="0.071" data-distsance="1300"
            class="parallax layer2" />
        <img src="../img/block.png" data-speedx="0.081" data-speedy="0.071" data-distsance="1600"
            class="parallax block3" />
        <img src="../img/dust.png" data-speedx="0.09" data-speedy="0.08" data-distsance="1900" class="parallax dust2" />
        <div data-distsance="100" class="home-text-container">
            <h2 data-distsance="2200" class="home-text parallax">Memory Gallery</h2>
        </div>
        <img src="../img/layer1.png" data-speedx="0.01" data-speedy="0.029" data-distsance="2500"
            class="parallax layer1" />

        <div class = "login button">
            <a href = "/login"><p class = "login">login</p></a>
        </div>
        <div class = "register button">
            <a href = "/register"><p class = "register">register</p></a>
        </div>
    </div>
</body>